@page "/"
@inject HttpClient Http

<Title>Strife - Server Side App</Title>

@((MarkupString)markdown)


@code {

    private string markdown = "";

    protected override async Task OnInitializedAsync()
    {
        markdown = await Http.GetStringAsync("/StrifeInfo");
    }

}